<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Larastruct Fastapi</title>
    <link href="/statics/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="center-div">
      <div>
        <h1>Larastruct Fastapi</h1>
        <p>
          <span style="cursor: pointer" onClick="window.open('/docs', '_self')">Api</span> | 
          <span style="cursor: pointer" onClick="window.open('https://fastapi.tiangolo.com/', '_blank')">Fastapi</span> | 
          <span style="cursor: pointer" onClick="window.open('https://laravel.com/', '_blank')">Laravel</span> | 
          <span style="cursor: pointer" onClick="window.open('https://github.com/xncs120/larastruct-fastapi/blob/main/README.md', '_blank')">Docs</span>
        </p>
      </div>
    </div>
  </body>
</html>